<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazingagain.firstdemo.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id column="id" property="id" javaType="long" jdbcType="BIGINT"/>
        <result column="user_name" property="userName"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>
    <select id="getUser" parameterType="long" resultMap="userMap">
        select id, user_name, birthday, gender
        from t_user
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert
        into t_user(user_name, birthday, gender)
        values(#{userName}, #{birthday}, #{gender, typeHandler=org.apache.ibatis.type.EnumTypeHandler})
    </insert>

    <delete id="deleteUser" parameterType="long">
        delete
        from t_user
        where id = #{id}
    </delete>
</mapper>